[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/adya/CommonLibSSE
	branch = dev
[submodule "extern/CLibUtil"]
	path = extern/CLibUtil
	url = https://github.com/adya/CLibUtil.git
	branch = master
