[submodule "extern/CLibUtil"]
	path = extern/CLibUtil
	url = https://github.com/adya/CLibUtil.git
	branch = master
[submodule "extern/SKSEHooking"]
	path = extern/SKSEHooking
	url = https://github.com/adya/SKSEHooking.git
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/adya/CommonLibSSE-NG
	branch = ng
