[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE
	branch = dev
[submodule "extern/CLibUtil"]
	path = extern/CLibUtil
	url = https://github.com/powerof3/CLibUtil.git
	branch = master
